{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}{{ product.name }} | {{ parent() }}{% endblock %}

{% block contentWrapperClass %}bg-light pt-4 mt--2{% endblock %}

{% block content %}
    {% include '@SyliusShop/Product/Show/_breadcrumb.html.twig' %}

    <div class="row">
        <div class="col-12 col-md-5 mb-5">
            <div class="card">
                {{ sylius_template_event('sylius.shop.product.show.left_sidebar', _context) }}
            </div>
        </div>
        <div class="col-12 col-md-7 mb-5">
            <div class="card">
                <div class="card-body">
                    {{ sylius_template_event('sylius.shop.product.show.right_sidebar', _context) }}
                </div>
            </div>
        </div>
    </div>

    {{ sylius_template_event('sylius.shop.product.show.content', _context) }}

{% endblock %}
