{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<div class="card" {{ sylius_test_html_attribute('product') }}>
    <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}">
        {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product, 'class': 'card-img-top'} %}
    </a>
    <div class="card-body" {{ sylius_test_html_attribute('product-content') }}>
        <ul class="list-unstyled d-flex justify-content-between">
            <li>
                {% for i in [0, 1, 2, 3, 4] %}
                    {% if i < product.averageRating %}
                        <i class="text-warning fa fa-star"></i>
                    {% else %}
                        <i class="text-muted fa fa-star"></i>
                    {% endif %}
                {% endfor %}
            </li>
            <li class="text-muted text-right" {{ sylius_test_html_attribute('product-price') }}>
                {{ money.calculatePrice(product|sylius_resolve_variant) }}
            </li>
        </ul>
        <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}"
           class="h2 text-decoration-none text-dark" {{ sylius_test_html_attribute('product-name', product.name) }}>
            {{ product.name }}
        </a>
        <p class="card-text">
            {{ product.description|striptags|slice(0, 120) }}...
        </p>
        <p class="text-muted">
            Reviews ({{ product.reviews|length }})
        </p>
    </div>
</div>
